<!DOCTYPE html>
<html lang="pt-br">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "colormodebutton.html" . -}}
        {{- partial "header.html" . -}}
        <section class="content-base wrap">
	{{ .Content }}
        {{- partial "taglist.html" . -}}
        {{- block "main" . }}
	{{- end }}
        </section>
        {{- partial "footer.html" . -}}

	<!-- Ion Icons Plugin -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        {{- partial "colormode.html" . -}}
    </body>
</html>
