<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Foco no Estudo">
    <meta name="description" content="A mais simples e rápida plataforma de estudo para você que não tem tempo a perder e gosta de um conteúdo resumido.">
    <meta property="og:description" content="A mais simples e rápida plataforma de estudo para você que não tem tempo a perder e gosta de um conteúdo resumido.">
    <meta property="og:image" content="img/preview.png">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}svg/web-icon.svg">
    {{ $title := .Site.Title }}
    {{ if .IsPage }}{{ $title = print .Site.Title " | " .Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
